//VARIABLES
    //COLORS
        $header: #dadada;
        $text-color: #000;
        $accent-color: #696969;
        $l-text-color: #6c6377;
        $primary-color: #cc191a;
    //TRANSITIONS
        $trans: 0.3s;
    //RESPONSIVE
        $pc:1024;
        $tablet:991px;
        $mobile:500px;
        
        

//Functions

